.vs/
bin.*/
CppProperties.json
build/
build/x64
build/x86
.git.old

Makefile
common.mak
system.mak

!build\x64\drivstaller.exe
!build\x64\drivstaller.pdb
!build\x86\drivstaller.exe
!build\x86\drivstaller.pdb

copyToData.bat